{% extends 'base/base.html' %}

{% block title %}add news {% endblock title %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input type="text" class="form-control" id="content" name="content">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock content %}