{% extends 'base/base.html' %}
{% block title %}password reset {% endblock title %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label" for="new_password">New Password:</label>
                    <input type="password" id="new_password" class="form-control form-control-lg" name="new_password"
                        placeholder="Enter New Password" required>
                </div>

                <div class="form-outline mb-3">
                    <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock content %}