{% extends 'base/base.html' %}

{% block title %}Profile {% endblock title %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">profile</h5>
        <ul class="list-group">
            <li class="list-group-item">First Name: {{user.first_name}}</li>
            <li class="list-group-item">Last Name: {{user.last_name}}</li>
            <li class="list-group-item">Email: {{user.email}}</li>
            <li class="list-group-item">Username: {{user.username}}</li>
            <a href="{% url 'password_reset' %}"><li class="list-group-item">reset password</li></a>
        </ul>
    </div>
</div>


{% endblock content %}